#generated folders, relative to the tested benchmark
kernel-gen/*
#cpu-gen/*
cuda/kernel/*
kernel-gen/tests.txt

#fsm files
build/*.fsm
build/*.kiss2

#objects & executables
build/gpu-test
build/cpu-test
cuda/cuda-test
cuda/kernel.o
cuda/*.nvprof
