#generated folders, relative to the tested benchmark
kernel-gen/*
#cpu-gen/*
cuda/kernel/*
kernel-gen/tests.txt

#fsm files
build/*.fsm
build/*.kiss2
build/*.py
build/run-fsm.sh
build/run-fsm-master.sh

#objects & executables
build/gpu-test
build/cpu-test
build/experiments/*
cuda/cuda-test
cuda/kernel.o
cuda/*.nvprof
small-test/main
