#generated folders, relative to the tested benchmark
kernel-gen/*
#cpu-gen/*
cuda/kernel/*
kernel-gen/tests.txt

#fsm files
build/*.fsm
build/*.kiss2
build/*.py
build/run-fsm.sh
build/run-fsm-master.sh
build/run3.sh
build/run10.sh
build/run-gpu-test.sh
build/run-cpu-test.sh
build/kill.sh

#objects & executables
build/gpu-test
build/cpu-test
build/gpu-test-debug
build/cpu-test-debug
build/experiments/*
build/manual/*
cuda/cuda-test
cuda/kernel.o
cuda/*.nvprof
playgrounds/dma-test/main
playgrounds/dualcopy-test/main
playgrounds/transpose-test/main
